* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.meaning {
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}

input {
  width: 80vw;
  padding: 10px;
  font-size: 18px;
}

.emojis-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px auto 30px;
  padding: 40px;
  width: 70vw;
}

.emoji {
  background-color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  padding: 10px;
  width: 70px;
}

footer {
  padding: 20px;
  background-color: #26032b;
  margin-top: auto;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer a {
  text-decoration: none;
  color: #8e44ad;
  font-weight: bolder;
}
